[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/Doomhowl-Interactive/SDL
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/Doomhowl-Interactive/SDL_ttf
